{% extends "base.html" %}

{% block title %}Zjsn - Review{% endblock %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/fullpage.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jrReview.js') }}"></script>
{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fullpage.min.css') }}" />
{% endblock %}


{% block content %}
<div id="fullpage">
	<div class="section">section 1</div>
	<div class="section">section 2</div>
	<div class="section">section 4</div>
	<div class="section">section 3</div>
</div>
{% endblock %}
